################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Wfrp.Service/bin/Debug/net7.0
/Wfrp.Service/obj
/Wfrp.Service/Wfrp.Service.csproj.user
/Wfrp.Library/bin/Debug/net7.0
/Wfrp.Library/obj
/Wfrp.Repository/bin/Debug/net7.0
/Wfrp.Repository/obj
/Wfrp.Library/bin/Debug/net8.0
/Wfrp.Repository/bin/Debug/net8.0
